<%= render partial: "form", locals: {link: @link} %>

<div id="links" class="mt-8 flex flex-col divide-y divide-gray-100">
  <%= render @links %>

  <div class="text-center mb-8 pt-16">
    <%== pagy_nav @pagy %>
  </div>
</div>
